<div class="panel panel-info">
  <div class="panel-heading">
    Array
  </div>
  <div class="panel-body">
    <h4>* 학습 자료</h4>
    <dl>
      <dd><a href="http://d2.naver.com/helloworld/12864">CommonJS and AMD (MDN)</a></dd>
      <dd><a href="https://developer.mozilla.org/ko/docs/Web/JavaScript/Data_structures">타입 (MDN)</a></dd>
    </dl>
    <hr style="margin-bottom: 1em;">

    <answer-view *ngFor="let answer of answerList" [answer]="answer"></answer-view>

    <disqus-thread [page-identifier]="pageIdentifier" [page-url]="pageUrl"></disqus-thread>

  </div>
</div>
