<div class="panel panel-info">
  <div class="panel-heading">
    개요
  </div>
  <div class="panel-body">
    <dl>
      <dt>* 강의 자료</dt>
      <dd><a href="/download/자바강의.pptx">강의자료 다운로드</a></dd>
      <dd>강의자료 소스 : https://github.com/eastflag/Java.git</dd>
    </dl>

    <dl>
      <dt>* 로드맵 설명</dt>
      <dd>난이도가 쉬운것부터 높은순으로 배열하였다.</dd>
      <dd>자바 문법적으로는 클래스, 다형성, 인터페이스에 대한 문법은 객체지향 개념의 가장 기초가 되는 문법이며
        실제 자바 개발시에 가장 빈번히 사용되는 문법은 익명클래스, 제네릭, 컬렉션, 쓰레드 등이다.</dd>
      <dd>자바 중급으로 올라서기 위해서는 디자인 패턴에 대한 공부뿐만 아니라 멀티쓰레드 패턴에 대한 공부가 필요하다.</dd>
    </dl>

    <dl>
      <dt>* 자바 공부 로드맵</dt>
    </dl>
    <table class="table table-bordered table-striped">
      <colgroup>
        <col style="width: 25%;"/>
        <col style="width: 15%;"/>
        <col style="width: 10%;"/>
        <col style="width: 10%;"/>
        <col style="width: 40%;"/>
      </colgroup>
      <thead style="background-color: #eeeeee;">
        <tr>
          <td>제목</td>
          <td>자료</td>
          <td>분류</td>
          <td>난이도</td>
          <td>비고</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>난 정말 JAVA를 공부한 적이 없다구요(책)</td>
          <td><a href="https://www.orentec.co.kr/">출판사 홈페이지</a></td>
          <td>문법</td>
          <td>초급</td>
          <td>동영상강좌, 소스, ppt교재까지 있음. 다형성에 대한 내용 부족</td>
        </tr>
        <tr>
          <td>자바의정석(책)</td>
          <td><a href="http://cafe.naver.com/javachobostudy.cafe">네이버카페 (필수자바강의 참고)</a></td>
          <td>문법</td>
          <td>초급</td>
          <td>컬렉션, 제네릭에 대한 설명 부족</td>
        </tr>
        <tr>
          <td>소설같은자바(책)</td>
          <td></td>
          <td>문법</td>
          <td>초급</td>
          <td><span style="color:red; font-weight: bold;">강추.</span> 절판. 중고로 사서 보기를 권함</td>
        </tr>
        <tr>
          <td>이것이 자바다(책)</td>
          <td><a href="http://cafe.naver.com/thisisjava">네이버 카페</a></td>
          <td>문법</td>
          <td>초급,중급</td>
          <td>람다 expression 등 자바 1.8 문법이 많이 소개되어있음</td>
        </tr>
        <tr>
          <td>Head First Design Pattern(책)</td>
          <td><a href="assets/download/head_first_design_pattern.pdf">pdf 다운로드</a></td>
          <td>객체지향개념</td>
          <td>중급</td>
          <td>인터페이스, 다형성등 문법을 완전히 이해한 다음에 봐야할 책</td>
        </tr>
        <tr>
          <td>JAVA 언어로 배우는 디자인 패턴 입문 멀티쓰레드 편(책)</td>
          <td></td>
          <td>객체지향개념</td>
          <td>중급</td>
          <td><span style="color:red; font-weight: bold;">강추.</span> 절판. 자바로 개발한다면 반드시 1번이상 정독해야 할 책.
            중급개발자로 올라서기 위해 반드시 익혀야 할 멀티쓰레드 디자인 패턴을 자바 문법 1.5 이전 패턴과 1.5이후
            cuncurrent 패키지의 두가지 예제로 설명. </td>
        </tr>
        <tr>
          <td>[클래스설계원칙(S.O.L.I.D)] (인터넷)</td>
          <td><a href="https://scotch.io/bar-talk/s-o-l-i-d-the-first-five-principles-of-object-oriented-design">관련자료</a>
            <a href="assets/download/pablos_solid_ebook.pdf">pdf 자료</a></td>
          <td>객체지향개념</td>
          <td>중급</td>
          <td>디자인 패턴을 익히고 실제 개발시에 참고해야 할 개념</td>
        </tr>
        <tr>
          <td>[패키지설계원칙 6가지] (인터넷)</td>
          <td><a href="assets/download/principles-of-package-design-sample.pdf">pdf 자료</a></td>
          <td>객체지향개념</td>
          <td>중급</td>
          <td>디자인 패턴을 익히고 실제 개발시에 참고해야 할 개념</td>
        </tr>
        <tr>
          <td>Effective Java(책)</td>
          <td><a href="assets/download/Effective.Java.2nd.Edition.May.2008.3000th.Release.pdf">pdf 다운로드</a></td>
          <td>문법</td>
          <td>고급</td>
          <td>난이도 상. 디자인 패턴등을 공부한 뒤에 봐야함.</td>
        </tr>
        <tr>
          <td>[자바 8을 중심으로 본 자바의 혁신] (인터넷)</td>
          <td><a href="http://www.slideshare.net/gyumee/beyond-java-8">http://www.slideshare.net/gyumee/beyond-java-8</a></td>
          <td>문법</td>
          <td>초급, 중급</td>
          <td>자바 1.8에 대한 내용</td>
        </tr>
        <tr>
          <td>[Java8 & Lamda] (인터넷)</td>
          <td><a href="http://www.slideshare.net/ssuser1be904/java8-lambda-45939529">http://www.slideshare.net/ssuser1be904/java8-lambda-45939529</a></td>
          <td>문법</td>
          <td>초급, 중급</td>
          <td>자바 1.8에 대한 내용</td>
        </tr>
        <tr>
          <td>[Effective Java - 디자인 패턴] (인터넷)</td>
          <td><a href="http://www.slideshare.net/lifeinnovator/effective-java-57604973">http://www.slideshare.net/lifeinnovator/effective-java-57604973</a></td>
          <td>문법</td>
          <td>고급</td>
          <td>SOLID, 디자인 패턴에 대한 설명</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
