<div fxLayout="row" fxLayout-xs="column">
  <div class="panel panel-info" fxFlex="20">
    <div class="panel-heading">
      목차
    </div>
    <div class="panel-body side-menu" style="padding: 0">
      <ul class="side-menu">
        <li ui-sref-active="active"><a ui-sref="java.main">개요</a></li>
        <li ui-sref-active="active"><a ui-sref="java.anonymous">Anonymous Class</a></li>
        <li ui-sref-active="active"><a ui-sref="java.collection">Collection</a></li>
        <li ui-sref-active="active"><a ui-sref="java.generic">Generic</a></li>
        <li ui-sref-active="active"><a ui-sref="java.thread">Thread</a></li>
        <li ui-sref-active="active"><a ui-sref="java.stream">Stream & Lamda</a></li>
      </ul>
    </div>
  </div>

  <div style="width:1px; height: 1px;margin: 3px;"></div>

  <div fxFlex="80">
    <router-outlet></router-outlet>
  </div>
</div>
