<div fxLayout="column" fxLayoutAlign="space-around center" style="height: 40%;">
  <h3>Welcome to </h3>
  <h1>www.javabrain.kr</h1>
  <img src="/assets/images/brain.png" alt="www.javabrain.kr" style="width:10%;"><br>
</div>


<md-card style="height: 30%;">
  <md-card-content>
    <div *ngFor="let receiveMsg of receiveMsgList" class="chat-conversation-user"
         [class.them]="receiveMsg['clientID']!==message.clientID" [class.me]="receiveMsg['clientID']===message.clientID">
      <div class="chat-conversation-message">
        <p>{{receiveMsg.message}}<span class="chat-date">{{getCurrentDate() | date: 'yyyy-MM-dd hh:mm:ss'}}</span></p>
      </div>
    </div>
  </md-card-content>
  <hr>
  <md-card-actions>
    <div fxLayout="row" layout-align="start center">
      <md-input-container class="mr-1 ml-1" fxFlex>
        <input mdInput placeholder="Send message" [(ngModel)]="inputMessage">
      </md-input-container>
      <button md-fab color="primary" (click)="send()">
        <md-icon>send</md-icon>
      </button>
    </div>
  </md-card-actions>
</md-card>

