<div fxLayout="column" fxLayoutAlign="space-around center" style="height: 40%;">
  <h3>Welcome to </h3>
  <h1>www.javabrain.kr</h1>
  <img src="/assets/images/brain.png" alt="www.javabrain.kr" style="width:10%;"><br>
</div>


<md-card style="height: 30%;" style="visibility: hidden;">
  <md-card-content>
    <div class="chat-conversation-user them">
      <div class="chat-conversation-message">
        <p>Hey.<span class="chat-date">{{ 1427207139000 | date: 'fullDate' }}</span></p>
      </div>
    </div>

    <div class="chat-conversation-user me">
      <div class="chat-conversation-message">
        <p>Goodnight!<span class="chat-date">{{ 1428830580000 | date: 'fullDate' }}</span></p>
      </div>
    </div>
  </md-card-content>
  <hr>
  <md-card-actions>
    <div fxLayout="row" layout-align="start center">
      <md-input-container class="mr-1 ml-1" fxFlex>
        <input mdInput placeholder="Send message" [(ngModel)]="msg">
      </md-input-container>
      <button md-fab color="primary" (click)="send()">
        <md-icon>send</md-icon>
      </button>
    </div>
  </md-card-actions>
</md-card>

