<div class="panel panel-info">
  <div class="panel-heading">
    개요
  </div>
  <div class="panel-body">
    <h4>* 개요</h4>
    <div>
      <p>자바스크립트는 3가지 요소로 이루어져 있다.</p>
      <p>Core: 자바스크립트 핵심 요소</p>
      <p>DOM(Document Object Model) 노드와 노드리스트를 찾고 바꾸고 조작하는 인터페이스 정의</p>
      <p>BOM(Browser Object Model): Location, Navigator, Window 관련된 인터페이스 정의</p>
    </div>
    <hr>
    <h4>* 학습 목표</h4>
    <div>
      <p>표현식과 객체 리터릴 표기법, 생성자함수의 의미</p>
      <p>함수 선언식, 기명함수 표현식, 익명함수 표현식, 기명즉시실행함수, 익명즉시실행함수 등 함수 선언 방법</p>
      <p>자바와 다른 this의 6가지 다른 의미</p>
      <p>변수의 스코프, 호이스팅, 클로저의 의미</p>
      <p>프로토타입과 call, apply등의 리플렉션 함수를 이용한 상속 방법</p>
    </div>
    <hr>
    <h4>* 로드맵</h4>
    <table class="table table-bordered table-striped">
      <colgroup>
        <col style="width: 25%;"/>
        <col style="width: 15%;"/>
        <col style="width: 10%;"/>
        <col style="width: 10%;"/>
        <col style="width: 40%;"/>
      </colgroup>
      <thead style="background-color: #eeeeee;">
      <tr>
        <td>제목</td>
        <td>자료</td>
        <td>분류</td>
        <td>난이도</td>
        <td>비고</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>코딩 연습 사이트</td>
        <td>
          <dl>
            <dd>https://www.codeschool.com</dd>
            <dd>https://www.codecademy.com</dd>
            <dd>http://www.w3schools.com/js/</dd>
          </dl>
        </td>
        <td>
        </td>
        <td></td>
        <td>
          <dl>
            <dd>25$/한달</dd>
            <dd>19$/한달</dd>
            <dd>무료</dd>
            <dd>웹사이트에서 바로 코딩을 하면서 배울수 있다. codeschool과 codeacademy는 각각 한달에 25$와 19%를 내야 하지만 w3schools는 무료이다.</dd>
          </dl>
        </td>
      </tr>
      <tr>
        <td>무료 강의 사이트</td>
        <td>
          <dl>
            <dd>https://www.inflearn.com/</dd>
            <dd>https://www.udemy.com</dd>
          </dl>
        </td>
        <td></td>
        <td></td>
        <td>
          <dl>
            <dd>inflearn 사이트의 </dd>
            <dd>자바스크립트 언어기본-javascript(생활코딩) <span style="color:red; font-weight: bold;">강추.</span> </dd>
            <dd> =>자바스크립트 Core부분</dd>
            <dd>웹브라우저 Javascript(생활코딩)</dd>
            <dd> =>DOM, BOM</dd>
          </dl>
        </td>
      </tr>
      <tr>
        <td>유료 강의 사이트</td>
        <td>https://egghead.io</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>문제풀이</td>
        <td>https://github.com/mrdavidlaing/javascript-koans</td>
        <td></td>
        <td></td>
        <td>
          <dl>
            <dd>git clone 후 webstorm으로 해당 폴더를 연다.</dd>
            <dd>KoansRunner.html을 우클릭후 Run</dd>
            <dd>웹브라우저에 나타난 오류를 찾아서 해당 화일을 열어서 오류를 해결한다.</dd>
            <dd>총 53개의 오류가 있고 모두 해결해 가면서 자바스크립트를 배우는 과정이다.</dd>
          </dl>
        </td>
      </tr>
      <tr>
        <td>세미나 자료</td>
        <td>
          <dl>
            <dd><a href="http://www.slideshare.net/youngbeomrhee/e03-javascript-intro">프런트엔드스터디</a></dd>
            <dd><a href="http://www.slideshare.net/jaewoow/javascript-1-47423876">Web UI Basic 자바스크립트</a></dd>
            <dd><a href="http://www.slideshare.net/deview/d2campusjavascript">자바스크립트 다시시작하기</a></dd>
            <dd><a href="http://www.slideshare.net/ssuserf56dca/javascript-pdf">자바스크립트 교육자료</a><span style="color:red; font-weight: bold;">강추</span></dd>
          </dl>
        </td>
        <td>es5</td>
        <td>초급</td>
        <td>슬라이드쉐어 자료</td>
      </tr>
      <tr>
        <td>HeadFirst JavaScript (책)</td>
        <td><a href="http://www.ldos.si/slo/03_lectures/65_tp/gradiva/head-first-javascript.22.pdf">pdf 다운로드</a></td>
        <td>es5</td>
        <td>초급</td>
        <td>es5 기초 문법책. 설명과 예시가 잘되어있다.</td>
      </tr>
      <tr>
        <td>ECMAScript 6 길들이기 (책)</td>
        <td><a href="http://www.acornpub.co.kr/book/ecmascript6">에이콘출판사</a></td>
        <td>es6</td>
        <td>초급</td>
        <td>출판사 홈페이지에서 소스를 다운로드 받을수 있다. 현재 하나밖에 없는 es6 문법 책</td>
      </tr>
      <tr>
        <td>JavaScript Design Pattern (책)</td>
        <td><a href="/download/55Learning  Javascript Design Patterns.pdf">pdf 다운로드</a></td>
        <td>es5</td>
        <td>중급</td>
        <td><span style="color:red; font-weight: bold;">강추.</span> jquery, angularJS 등에서 사용되고 있는 자바스크립트 패턴들을 이해할수 있다.</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
