<md-toolbar layout="row" layout-align="space-between center" style="min-height:50px;padding: 0 10px;">
  <div class="brand" ui-sref="home" layout="row" layout-align="center center">
    <img src="/assets/images/brain.png" alt="Java Brain" style="width:25px;height:25px;">
    <span style="margin-left: 10px;">Java Brain</span>
  </div>
  <section id="top_menu" layout="row" layout-align="end center" hide-sm hide-xs>
    <md-button ui-sref-active="active" class="md-raised md-primary" ui-sref="java.main" layout="row" layout-align="center center">
      <md-icon>free_breakfast</md-icon> 자바
    </md-button>
    <md-button ui-sref-active="active" class="md-raised md-primary" ui-sref="oop.main" layout="row" layout-align="center center">
      <md-icon>device_hub</md-icon> OOP
    </md-button>
    <md-button ui-sref-active="active" class="md-raised md-primary" ui-sref="javascript.main" layout="row" layout-align="center center">
      <md-icon>description</md-icon>  자바스크립트
    </md-button>
    <md-button ui-sref-active="active" class="md-raised md-primary" ui-sref="android.main" layout="row" layout-align="center center">
      <md-icon>android</md-icon> 안드로이드
    </md-button>
    <md-button ui-sref-active="active" class="md-raised md-primary" ui-sref="game.main" layout="row" layout-align="center center">
      <md-icon>gamepad</md-icon> 게임
    </md-button>

    <!-- 로그인 로그아웃 -->
    <md-button ng-show="!$parent.mAuth"
               class="md-raised md-primary" ng-click="navi.showLogin()" layout="row" layout-align="center center">
      <md-icon>input</md-icon> 로그인
    </md-button>
    <md-button ng-show="$parent.mAuth"
               class="md-raised md-primary" ng-click="navi.logOut()" layout="row" layout-align="center center">
      <md-icon>power_settings_new</md-icon> 로그아웃
    </md-button>
  </section>
  <md-button class="menu" hide-gt-sm ng-click="navi.toggleList()" aria-label="Show Side Menu">
    <md-icon md-svg-icon="menu"></md-icon>
  </md-button>
</md-toolbar>

<div></div>

<footer class="footer" layout="column" layout-align="center center">
  <p style="margin: 0;">
    CopyRight 2013 powered by eastflag@gmail.com
  </p>
</footer>
