<div class="panel panel-info">
  <div class="panel-heading">
    Array
  </div>
  <div class="panel-body">
    <h4>* 학습 자료</h4>
    <dl>
      <dd><a href="https://developer.mozilla.org/ko/docs/Web/JavaScript/Reference/Global_Objects/Array">배열 (MDN)</a></dd>
    </dl>

    <hr style="margin-bottom: 1em;">

    <table width="378" border="1">
      <tbody>
      <tr>
        <td>제목</td>
        <td>비용</td>
        <td>저자</td>
        <td>판매순위</td>
      </tr>
      <tr>
        <td>콩쥐팥쥐</td>
        <td>20000</td>
        <td>미상</td>
        <td>1</td>
      </tr>
      <tr>
        <td>흥부놀부</td>
        <td>25000</td>
        <td>미상</td>
        <td>2</td>
      </tr>
      <tr>
        <td>자바의정석</td>
        <td>35000</td>
        <td>정석</td>
        <td>3</td>
      </tr>
      <tr>
        <td>안드로이드정복</td>
        <td>15000</td>
        <td>김상형</td>
        <td>4</td>
      </tr>
      </tbody>
    </table>

    <answer-view *ngFor="let answer of answerList" [answer]="answer"></answer-view>

    <disqus-thread [page-identifier]="pageIdentifier" [page-url]="pageUrl"></disqus-thread>

  </div>
</div>
