<div fxLayout="row" fxLayout-xs="column">
  <div class="panel panel-info" fxFlex="20">
    <div class="panel-heading">
      목차
    </div>
    <div class="panel-body side-menu" style="padding: 0">
      <ul class="side-menu">
        <li routerLinkActive="active"><a routerLink="/javascript/main">개요</a></li>
        <li routerLinkActive="active"><a routerLink="/javascript/array">Array</a></li>
        <li routerLinkActive="active"><a routerLink="/javascript/object">Object</a></li>
      </ul>
    </div>
  </div>

  <div style="width:1px; height: 1px;margin: 3px;"></div>

  <div fxFlex="80">
    <router-outlet></router-outlet>
  </div>
</div>
